[user]
	name = satoda.akihiko
	mail = satzz21@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	b = branch
	ba = branch -a
	co = checkout
	cm = commit -v
	d = diff
	pl = pull
	ps = push
	st = status
[core]
	excludesfile = ~/.gitignore
[apply]
	whitespace = nowarn
