[user]
	name = satzz21@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	b = branch
	ba = branch -a
	co = checkout
	cm = commit -v
	d = diff
	pl = pull
	ps = push
	st = status
[core]
	excludesfile = /Users/satodaakihiko/mygit/config/.gitignore
[apply]
	whitespace = nowarn
